.Form-Page{
    min-height: 860px;
    background-color: #fafafa;
}

.Form-Container{
    width:450px;
    margin: 0px auto 0px auto;
}

.Sign-In-Title{
    margin-top: 0;
    padding:200px 0px 0px 8px;
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 300;
    font-family: "Source Sans Pro",Arial;
}

.User-Info-Form{
    padding: 4px;
    margin-top: 20px;
}

.Form-Group{
    padding: 4px;
}

#User-Name , #User-Password, #Register-User-Name, #Register-User-Password{
    width: 97%;
    height: 40px;
    font-size: 15px;
    font-weight: normal;
    padding-left: 8px;
    border: 1px solid #e6e6e6;
}

#User-Name::placeholder , #User-Password::placeholder , #Register-User-Name::placeholder,
#Register-User-Password::placeholder{
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color:#b3b3b3;

}

.Submit-Button, .Register-Button{
    border:0;
    width: 100%;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #feaa26;
    font-weight: 300;
    color: #f2f2f2;
    margin-top: 10px;
}

.Create-User{
    display: block;
    text-decoration: none;
    background-color: #e6e6e6;
    color: #f47d22;
    height: 50px;
    line-height: 50px;
    padding: 0;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
    text-align:center;
}

.Create-User span{
    color: #666;
}

.Message-Container{
    width: 450px;
    height: 20px;
    margin: 0px auto 0px auto;
}

.Message{
    color: red;
}

.Image-Message{
    width: 380px;
    color: red;
    margin: 0px !important;
}
