.Favorite-Button{
    vertical-align: top;
    margin: 7px 13px 0px 13px;
}

.Favorite-Tab{
    display:block;
}

.Favorite-Tab:hover{
    opacity: .6;
}

.Heart-Icon{
    width: 48px;
    height: 48px;
}