.Favorite-Button{
    vertical-align: top;
    margin: 7px 10px 0px 10px;
}

.Favorite-Tab{
    display:block;
}

.Favorite-Tab:hover{
    opacity: .6;
}

.Heart-Icon{
    width: 48px;
    height: 48px;
}