#LogOut-Button{
    border-top: 1px solid #e6e6e6;
    margin-bottom: 0 !important;
    text-align: center;
    padding-top: 10px;
}

.LogOut{
    text-decoration: none;
    color: #2d2d2d;
    font-size: 14px;
    font-family: "Source Sans Pro",Arial;
}

.LogOut:hover{
    color: #feaa26;
}