#Search-Results{
    background-color: white;
    width: 100%;
    font-family: "Source Sans Pro",Arial;
    overflow:hidden;
}

.Recipe-List-Subject-Title{
    width: 200px;
    text-align: center;
    color: #5b5b5b;
    font-weight: normal;
    margin: 20px 0 15px 10px;
    font-size:20px;
}

#Grid-Selection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    width: 1250px;
    margin: 0px auto 0px auto;
}

.Recipe-Article{
    border: 1px solid #e6e6e6;
    display: block;
    height: 435px;
    width: 290px;
    padding: 0;
    margin: 20px 7px 20px 7px;
}
.Recipe-Article:hover{
    opacity: .6;
}
.Recipe-Link{
    text-decoration: none;
}

.Recipe-Image{
    height: 315px;
    width: 290px;
}

.Recipe-Article-Info{
    height:81px;
}

.Recipe-Title{
    margin:5px 0px 0px 0px;
    padding: 0px 6px 0px 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    height: 22px;
    color: #3c3c3c;
    font-size: 18px;
    width: 290px;
}

.Recipe-Description{
    padding: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #7f7f7f;
    font-size:14px;
    height: 59px;
}

.Recipe-Creator{
    padding: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 13px;
    font-size:14px;
    color:#242424;
    width: 290px;
}

.By{
    color: #7f7f7f;
}

.TEST1{

}